.outter{
    background-color: rgb(27, 27, 31);
    text-align: center;
}
.nav-ul{
    width: 55px;
    text-align: center;
    padding: 50px 0 0;
    margin: 0 0 30px;
    a.link{
        display: block;
        height: 70px;
        color: #888;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        &:hover,
        &[class~=router-link-active]{
            color: var(--el-color-primary-light-8);
            background: black;
        }
    }
    .icon{
        display: block;
        font-size: 1.2em;
    }
    .name{
        margin: 5px 0 -2px;
    }
}


