
.outer{
    padding: 30px 55px;
    .folder-mark{
        opacity: 0.35;
        &[class~=has-media]{
            color: green;
            opacity: 0.7;
        }
    }
    .small-check{
        margin: 3px 0px 0px -5px;
        color: green;
    }
    .meida-icon{
        font-size: 10px;
        vertical-align: 2px;
        opacity: 0.9;
        color: #bbb;
        &[class~=doing]{
            color: orange;
        }
        &[class~=done]{
            color: green;
        }
    }
}

.path-list{
    .el-button{
        // padding: 2px 0;
        height: 26px;
    }
    .active{
        color: blue;
        font-weight: bold;
    }
}

.legend{
    padding: 20px 0 10px;
}

.directory-list{
    display: flex;
    background: #f1f1f1;
    width: 100%;
    overflow-x: auto;
    ul{
        flex: auto;
        overflow-y: auto;
        min-width: 230px;
        max-width: 280px;
        height: 700px;
        padding: 15px 20px;
        border: solid 1px #999;
        line-height: 1;
    }
    li{
        cursor: pointer;
        padding: 5px;
        line-height: 1.3;
        white-space: nowrap;
        +li{
            margin-top: 3px;
        }
        &.active,
        &:hover{
            color: blue;
            background: rgba($color: #000000, $alpha: 0.08);
        }
        &[class~=name-wrong]{
            color: red;
        }
    }
}


.tree-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    .label{
        margin-right: 50px;
        max-width: 65%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.tree-line .right-info{
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .progress-bar{
        width: 70px;
        margin-right: 10px;
    }
    .count{
        width: 5em;
        &[class~=full]{
            color: green;
            font-weight: bold;
        }
    }
}

.media-list-in-dialog{
    min-height: 25vh;
    max-height: 58vh;
    overflow-y: auto;
}

.media-list-in-dialog .one-media{
    display: flex;
    justify-content: space-between;
    line-height: 1.6;
    &+li{
        margin: 10px 0 0;
    }
    &:hover{
        background: #eee;
    }
    .name{
        width: calc(100% - 180px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .status{
        padding-right: 10px;
        width: 150px;
        i{
            min-width: 1.1em;
            display: inline-block;
            &[class~=no-yet]{
                color: red;
            }
            &[class~=no-srt]{
                opacity: 0 !important;
            }
        }
    }
}




