// ▼页面模式的外套
.outer-dom{
    padding: 40px 20px 20px;
    height: 100%;
    // ▼关闭弹出窗口的动画
    ::v-deep(.dialog-fade-enter-active),
    ::v-deep(.dialog-fade-enter-to),
    ::v-deep(.dialog-fade-leave-active),
    ::v-deep(.dialog-fade-leave-to){
        animation: none !important;
        transform: none !important;
    }
}
// ▼窗口模式的外套
.outer-dom ::v-deep(.el-dialog__body){
    // box-shadow: 1px 1px 3px red inset;
    opacity: 1;
}

.search-bar{
    border: solid 1px #eee;
    &>*{
        height: 23px;
        display: inline-block;
        vertical-align: middle;
    }
}

.content-box{
    // height: 75vh;
    --page-height: 70vh;
    overflow-y: auto;
    ::v-deep(.el-tabs__content){
        height: var(--page-height);
        overflow-y: auto;
    }
}

.baidu{
    height: var(--page-height);
    box-shadow: 0px 0px 3px blue inset;
}

.result-list{
    // margin: 20px 0 0;
    height: 100%;
    .dir{
        color: #999;
    }
    .file-name{
        margin: 0 0 0;
        background: #f6f6f6;
        line-height: 1.5;
        color: #999;
        padding: 0 8px;
        margin: 5px 0;
        border-radius: 3px;
    }
}

ul.one-file{
    margin: 0 50px 20px 20px;
}

li.one-dir{
    .dir-name{
        opacity: 1;
    }
    li.one-sentence{
        margin: 0 0 0 0;
        p{
            line-height: 2;
            margin: 0 0 0 30px;
        }
    }
}

time.start{
    margin: 0 8px 0 0;
    opacity: 0.5;
}

span.one-word{
    &[class~=matched]{
        color: red;
    }
    &[class~=l-01]{
        color: red;
        background: rgb(255, 255, 100);
    }
    &[class~=l-02]{
        background: rgb(255, 255, 100);
    }
    &[class~=l-03]{
        background: rgb(255, 255, 180);
    }
}


